@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url('../../dist/images/deadpool-image-hero-desktop.jpg');
    background-size: cover;
    background-position: 300px 0;
    margin-top: -118px;

    @media (max-width: 768px) {
        background-position: 50% 50%;
    }

    &__content {
        max-width: 640px;
        
        .title {
            text-align: center; 
        }

        .text--big {
            text-align: center;
        }

        &__branding {
            img {
                display: flex;
                margin: 0 auto;
                height: 250px;
            }
        }

        @media (max-width: 768px) {
            margin-top: 50vh;

            .title {
                color: #fff;
            }

            .text--big {
                color: variaveis.$corTextoPrincipal;
            }

            &__branding {
                img {
                    height: 180px;
                }
            }
        }
    }
}
